/* color reference
charcoal gray: #232323;
*/

body {
    background-color: #232323;
    margin:           0em;
}

a[href]:link    { color:           rgb(196,69,29);  }
a[href]:visited { color:           rgb(171,105,84); }
a[href]:hover   { text-decoration: underline;       }

#header {
    background-color: #303030;
    color:            FloralWhite;
    padding:          0.2em;
    text-align:       right;
    border-top:       5px solid #AABBAA;
}

#monitor {
    padding-top:      4em;
    padding-bottom:   4em;
    padding-left:     2em;
    padding-right:    2em;
}

#footer {
    background-color: #232323;
    color:            #979797;
    text-align:       center;

    padding:          0.5em;
    bottom:           0;
    position:         absolute;

    width:            100%;
    height:           3em;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: FloralWhite;
}

.group {
    background-color: #232323;
    padding-top:      0.8em;
}

.groupCaption {
    color:            FloralWhite;
    font-size:        180%;
    font-weigth:      bold;
    text-align:       left;
    border-bottom:    1px solid #888;
    padding-left:     1.5em;
}

.groupBody {
    padding:          0.8em;
}

.counterEntry {
//    background-color: #AAAAFF;
}

.counterName {
//    background-color: DeepSkyBlue;
    color:            #87CEEB;
    text-align:       left;
    min-width:        15em;
    padding:          0.2em;
}

.counterValue {
//    background-color: DodgerBlue;
    color:            #79F1C9;
    text-align:       right;
    min-width:        10em;
    padding:          0.2em;
}