body {
    background-color: white;
    margin:           0em;
}

a[href]:link    { color:           rgb(196,69,29);  }
a[href]:visited { color:           rgb(171,105,84); }
a[href]:hover   { text-decoration: underline;       }

#monitor {
    background-color: white;

    padding-top:      6em;
    padding-bottom:   6em;
    padding-left:     2em;
    padding-right:    2em;
}

#footer {
    background-color: #ddd;
    color:            #aaa;
    text-align:       center;
    padding:          0.5em;

    width:            100%;
    height:           3em;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #aaa;
}

.group {

}

.groupCaption {
    color:            #4E6472;
    font-weight:      bold;
    font-size:        180%;
    border-bottom:    1px solid #DDD;
    padding-left:     0.5em;
}

.groupBody {

}

.counterEntry {

}

.counterName {
    background-color: #F0F0F0;
    text-align:       left;
    padding:          0.2em;
}

.counterValue {
    background-color: DodgerBlue;
    text-align:       right;
    padding:          0.2em;
}